<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
      {% load static %}
      <link rel="shortcut icon" href="{% static 'images/favIcon.png' %}" type="image/x-icon">
      <link rel="stylesheet" href="{% static 'style.css' %}">
      <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
      <style>
        .messages {
          color: white;
          text-align:center;
          list-style: none;
        }
      </style>
    </head>
    <body>
        <div class="login-box">
            <h1>Login</h1>
            <form class="login-form" action="/loginaction" method="post">
                {% csrf_token %}
              <input id="username" type="text" name="email" placeholder="Email">
              <input id="password" type="password" name="password" placeholder="Password">
              <!-- <a id="pwdreset" href="#">Forgot password?</a> -->
              <input id="submit" type="submit" name="submit" value="Login">
            </form>
            <form action="/signup" matho="post">
              <input id="register-button" type="submit" name="register" value="Register">
            </form>
            {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
          </div>

    </body>
</html>