<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% load static %}
    <link rel="shortcut icon" href="{% static 'images/favIcon.png' %}" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
    <style>
        * {
            color:white;
        }
        body {
            background-color:  #0E0E0E;
            color: white;
        }
        .card-title {
            color:white;
        }
        .logo {
            width: 9.5em;
        }
        ul li {
            list-style: none;
        }
        i{
            color: #f8c246;
        }
        .dropdown-toggle::after {
            color: #f8c246;
        }
        .same-size{
            object-fit: cover;
            width: 100%;
            aspect-ratio: 1/1;
        }
        .profile-card {
            background: #0E0E0E;
            border: 1px solid white;
        }
    </style>
    </head>
    <body>      
        <div class="container-fluid">
            <div class="d-flex">
                <div class="col-auto border-end col-md-3 col-xl-2 px-sm-2 px-0 bg-">
                    <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                        <a href="/" class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-white text-decoration-none">
                            <span class="fs-5 d-none d-sm-inline"></span>
                        </a>
                        <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                            <li class="nav-item mt-5">
                                <a href="/" class="nav-link align-middle px-0">
                                    <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Home</span>
                                </a>
                            </li>
                            <li>
                                <a href="/profile" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-person-square"></i> <span class="ms-1 d-none d-sm-inline">Profile</span></a>
                            </li>
                            <li>
                                <a href="/library" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-collection-play"></i> <span class="ms-1 d-none d-sm-inline">Your Library</span></a>
                            </li>
                            <li>
                                <a href="#submenu3" data-bs-toggle="collapse" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-grid"></i> <span class="ms-1 d-none d-sm-inline">Genre</span> </a>
                                    <ul class="collapse nav flex-column ms-1" id="submenu3" data-bs-parent="#menu">
                                    <li class="w-100">
                                        <a href="/genre/entertainment" class="nav-link px-0"> <span class="d-none d-sm-inline">Entertainment</span></a>
                                    </li>
                                    <li>
                                        <a href="/genre/politics" class="nav-link px-0"> <span class="d-none d-sm-inline">Politics</span></a>
                                    </li>
                                    <li>
                                        <a href="/genre/crime" class="nav-link px-0"> <span class="d-none d-sm-inline">Crime</span></a>
                                    </li>
                                    <li>
                                        <a href="/genre/education" class="nav-link px-0"> <span class="d-none d-sm-inline">Education</span></a>
                                    </li>
                                    <li>
                                        <a href="genre/business" class="nav-link px-0"> <span class="d-none d-sm-inline">Business</span></a>
                                    </li>
                                    <li>
                                        <a href="/genre/culture" class="nav-link px-0"> <span class="d-none d-sm-inline">Culture</span></a>
                                    </li>
                                    <li>
                                        <a href="/genre/health" class="nav-link px-0"> <span class="d-none d-sm-inline">Health</span></a>
                                    </li>
                                    <li>
                                        <a href="/genre/comedy" class="nav-link px-0"> <span class="d-none d-sm-inline">Comedy</span></a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                            <li>
                                <a href="/about" class="nav-link px-0 align-middle">
                                    <i class="fs-4 bi-info-square"></i> <span class="ms-1 d-none d-sm-inline">About us</span> </a>
                            </li>
                        </ul>
                        <hr>
                        <div class="dropdown pb-4">
                            <a href="#" class="d-flex align-items-center text-black text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="https://github.com/mdo.png" alt="hugenerd" width="30" height="30" class="rounded-circle">
                                <span class="d-none d-sm-inline mx-1">loser</span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-dark text-small shadow">
                                <li><a class="dropdown-item" href="/addpodcast">New</a></li>
                                <li><a class="dropdown-item" href="/update">Settings</a></li>
                                <li><a class="dropdown-item" href="/profile">Profile</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="/signout">Sign out</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="header w-100">
                    <div class="row ms-0 mt-4 mb-3 align-items-center d-flex justify-content-evenly">
                        <div class="col-md-3">
                            <img class="logo" src="{% static 'images/podcasti2.png' %}" alt="PodCasti logo">
                        </div>
                        <div class="col-md-3 text-center">
                            <div class="input-group">
                                <input class="form-control border-secondary rounded-pill pr-5" type="search" placeholder="Search">
                            </div>
                        </div>
                        <div class="col-md-4 d-flex justify-content-end">
                            {% if not user%}
                            <a class="btn btn-outline-light rounded-pill" href="/login">Login</a>
                            <a class="btn btn-light rounded-pill ms-2" href="/signup">Register</a>
                            {% else %}
                            <p></p>
                            {% endif %}
                        </div>
                    </div>
                    <div class="container d-flex pr-5 mt-5 mb-5 align-items-center">
                        <img src="{% static 'images/ben-shapiro.jpeg' %}" width="200" height="200" class="ms-5 rounded-circle" alt="...">
                        <div class="d-flex flex-column align-items-center ms-5">
                            <h1 class="h1 mt-3">Ben Shapiro</h1>
                            <div class="d-flex text-warning">
                                <p class="text-warning me-2">5 following </p>|<p class="text-warning ms-2"> 5 followers</p>
                            </div>
                            <div class="d-flex text-warning">
                            <p><a href="/addpodcast/">Add to my list</a></p>
                            </div>
                        </div>
                    </div>
                    {% for podcast in podcasts%}
                    <div class="container w-100 mx-5 mt-3">
                        <div class="row w-50 p-4 d-flex rounded-4 justify-content-between" id="player">
                            <div class="col-md-4">
                                <img src="{{ podcast.cover.url }}"
                                    class="same-size  rounded">
                            </div>
                            <div class="col-md-8 d-flex flex-column
                                justify-content-between">
                                <div>
                                    <h5><a href="/podcast/{{ podcast.id }}/">{{podcast.title}}</a></h5>
                                    <p>{{podcast.description}}</p>
                                </div>
                                <div>
                                    <audio controls class="w-100">
                                        <source src="{{ podcast.file.url }}"
                                            type="audio/mpeg">
                                    </audio>
                                </div>

                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    </div>
                    {% comment %} <div class="container d-grid gap-3">
                        <div class="col py-3">
                            <div class="container ms-4">
                                <div class="row">
                                    <div class="card mx-4 m-3 p-0 profile-card" style="width: 15rem;">
                                        <img src="{% static 'images/ben-shapiro.jpeg' %}" class="card-img-top img-fluid same-size w-75 rounded-circle mx-auto" alt="...">
                                        <div class="card-body border-bottom-0">
                                            <h6 class="card-title">The Ben Shapiro Show</h6>
                                            <p class="card-text text-secondary">Profile</p>
                                        </div>
                                        <div class="card-footer p-0 d-grid gap-2 border-0">
                                            <a href="#" class="btn btn-warning rounded-bottom rounded-0">Follow</a>
                                        </div>
                                    </div>
                                    <div class="card mx-4 m-3 p-0 profile-card" style="width: 15rem;">
                                        <img src="{% static 'images/ben-shapiro.jpeg' %}" class="card-img-top img-fluid same-size w-75 rounded-circle mx-auto" alt="...">
                                        <div class="card-body border-bottom-0">
                                            <h6 class="card-title">The Ben Shapiro Show</h6>
                                            <p class="card-text text-secondary">Profile</p>
                                        </div>
                                        <div class="card-footer p-0 d-grid gap-2 border-0">
                                            <a href="#" class="btn btn-danger rounded-bottom rounded-0">Unfollow</a>
                                        </div>
                                    </div>
                                    <div class="card mx-4 m-3 p-0 profile-card" style="width: 15rem;">
                                        <img src="{% static 'images/ben-shapiro.jpeg' %}" class="card-img-top img-fluid same-size w-75 rounded-circle mx-auto" alt="...">
                                        <div class="card-body border-bottom-0">
                                            <h6 class="card-title">The Ben Shapiro Show</h6>
                                            <p class="card-text text-secondary">Profile</p>
                                        </div>
                                        <div class="card-footer p-0 d-grid gap-2 border-0">
                                            <a href="#" class="btn btn-success rounded-bottom rounded-0">Follow</a>
                                        </div>
                                    </div>
                                    <div class="card mx-4 m-3 p-0 profile-card" style="width: 15rem;">
                                        <img src="{% static 'images/ben-shapiro.jpeg' %}" class="card-img-top img-fluid same-size w-75 rounded-circle mx-auto" alt="...">
                                        <div class="card-body border-bottom-0">
                                            <h6 class="card-title">The Ben Shapiro Show</h6>
                                            <p class="card-text text-secondary">Profile</p>
                                        </div>
                                        <div class="card-footer p-0 d-grid gap-2 border-0">
                                            <a href="#" class="btn btn-primary rounded-bottom rounded-0">Follow</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> {% endcomment %}
                </div>
            </div>
        </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>
</body>
</html>